extends layout

block content
  h1 Welcome to check in and out
  

  form.update-input(action="/new" method="post")
    input(type="text" name="task" placeholder="Your starting kilometers")
    input(type="submit" value="Update")

    form.-input(action="/new" method="post")
    input(type="text" name="task" placeholder="Your final kilometers")
    input(type="submit" value="Finalize")



  

    
