extends layout

block content
  h1= CHECKIN
  p Welcome to #{title}

  form.date-input(action="/new" method="post")
    input(type="text" name="task" placeholder="first and last name")
    input(type="text" name="task")

    input(type="submit" value="add")

  

    
