extends layout

block content
  h1= title
  p Welcome to #{title}

  form.date-input(action="/new" method="post")
    input(type="text" name="task")
    input(type="submit" value="add")

  
  div.calender
      
    form(action=`/bookingform` method="post")
      input.book-button(
        type="submit"
        value="Book a car"
      )

    
